<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  это проект по изучению веб-разработки на 
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. Это простое приложение для обучающей программы.
</p>
